<div class="container">

    <div class="logo">
        <img src="./assets/images/logo.jpg" height="95" alt="company-logo">
    </div>
    <div class="invoice-header">
        <h2> One cup at a <br>time letter <br> head</h2>
    </div>
    <div class="address">
        <p> 20 Orlagh Grove, Scholarstown </p>
        <p> Dublin 16, D16 Y7K8,</p>
        <p> Ireland</p>
    </div>
    
    <div class="horizontal-line"></div>
    <div class="vertical-line"></div>

    <div class="business-name">
        <p> Business name: </p>
    </div>

    <div class="date">
        <p> Date: </p>
    </div>

    <div class="amount-before-deduction">
        <p> Amount before : <br> deduction </p>
    </div>

    <div class="application-fee">
        <p> Application fee: </p>
    </div>

    <div class="total-amount">
        <p> Total amount: </p>
    </div>

    <div class="bottom-horizontal-line"></div>
    <div class="left-vertical-line"></div>

    <div class="right-vertical-line"></div>

    <div class="top-vertical-line"></div>
</div>